@using AutoMapper
@using ORA.Models
@using ORA_Data.DAL
@{
    EmployeeVM employee = Mapper.Map<EmployeeVM>(EmployeeDAL.ReadEmployeeById((long)Session["ID"]));
    AccountBioVM bio = Mapper.Map<AccountBioVM>(AccountDAL.ReadBioById(employee.EmployeeId.ToString()));
}
<div class="card card-user">
    <div class="image">
        @{
            if (bio.BannerBackgroundImg != null)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(bio.BannerBackgroundImg, 0, bio.BannerBackgroundImg.Length)"/>
            }
            else
            {
                <img src="https://static.decalgirl.com/assets/designs/large/library.jpg" />
            }
        }
    </div>
    <div class="content">
        <div class="author">
            <a href="#">
                @{
                    if (bio.ProfileImage != null)
                    {
                        <img class="avatar border-gray" src="data:image/png;base64,@Convert.ToBase64String(bio.ProfileImage, 0, bio.ProfileImage.Length)"/>
                    }
                    else
                    {
                        <img src="https://community.yellowfinbi.com/public/avatars/default-avatar.svg" />
                    }
                }
                <h4 class="title">
                    @*@Session["Name"].ToString().Split(' ')[0]<br />*@
                    @*<small>testname</small>*@
                </h4>
            </a>
        </div>
        <p class="description text-center">
            @bio.AboutMe
        </p>

    </div>
    <hr>
</div>
