
    <div class="card card-user">
        <div class="image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Bierstadt_Albert_Sunset_over_the_River.jpg" alt="..." />
        </div>
        <div class="content">
            <div class="author">
                <a href="#">
                    <img class="avatar border-gray" src="https://static-cdn.jtvnw.net/jtv_user_pictures/panel-105458682-image-30bb3ea9145a9b30-320-320.jpeg?imenable=1&impolicy=panel-images&imwidth=320" alt="..." />
                    <h4 class="title">
                        @*@Session["Name"].ToString().Split(' ')[0]<br />*@
                        @*<small>testname</small>*@
                    </h4>
                </a>
            </div>
            <p class="description text-center">
                Later, this will be customizable by employee
            </p>
        </div>
        <hr>
    </div>
