@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="https://c64.assets-yammer.com/assets/platform_embed.js"></script>
<div id="embedded-feed" style="height:648px;width:354px;"></div>
<script>
        yam.connect.embedFeed({
            "config": {
                "use_sso": true,
                "header": true,
                "footer": true,
                "showOpenGraphPreview": false,
                "defaultToCanonical": false,
                "hideNetworkName": false
            },
            "container": "#embedded-feed"
        });
</script>
